body {
    text-align: center;
    background-color: rgb(233, 215, 207);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: red;
}

p {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(170, 96, 83);
    font-size: 20px;
}

a {
    font-family: 'Fira Sans', sans-serif;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}